<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <style>
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #1F2328;
}
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 1012px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  display: block;
  padding: 32px;
}
article::first-child {
  margin-top: 0 !important;
}
article::last-child {
  margin-bottom: 0 !important;
}
section {
  margin-top: 46px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px 0px 6px 6px;
  padding: 0px;
  min-width: 0px;
  margin-top: 46px;
  -moz-box-pack: center;
}
h1, h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
  font-weight: 600;
  padding-bottom: .3em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
li {
  margin-top: .25em;
}
li code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-sp#ffffffaces;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}
li strong {
    font-weight: 600;
}
p {
  margin-top: 0;
  margin-bottom: 16px;
}
    </style>
  </head>
  <body>
    <section>
      <article>
        <h1>{{ .Title }}</h1>
{{ range .Sections }}
  <h2>{{ .Name }}</h2>
{{ if ne .Doc "" -}}
<p>{{ .Doc }}</p>
{{- end }}
  <ul>
{{ range .Items }}    <li>
    {{- $comma := false -}}
    <code>{{ .EnvName }}</code>
    {{- if eq .EnvSeparator "," -}}
      {{- $comma = true }} (comma-separated
    {{- else if ne .EnvSeparator "" -}}
      {{- $comma = true }} (separated by "<code>{{.EnvSeparator}}</code>"
    {{- end -}}
    {{- if .Required -}}
      {{- if $comma }}, {{ else }} ({{ end -}}
      {{- $comma = true -}}
      <strong>required</strong>
    {{- end -}}
    {{- if .Expand -}} 
      {{- if $comma }}, {{ else }} ({{ end -}}
      {{- $comma = true -}}
      expand
    {{- end -}}
    {{- if .NonEmpty -}}
      {{- if $comma }}, {{ else }} ({{ end -}}
      {{- $comma = true -}}
      non-empty
    {{- end -}}
    {{if .FromFile -}}
      {{- if $comma }}, {{ else }} ({{ end -}}
      {{- $comma = true -}}
      from-file
    {{- end -}}
    {{- if ne .EnvDefault "" -}}
      {{- if $comma }}, {{ else }} ({{ end -}}
      {{- $comma = true -}}
      default: <code>{{ .EnvDefault }}</code>
    {{- end -}}
    {{- if $comma }}) {{ else }} {{ end -}}
 - {{ .Doc -}}
    </li>
{{ end }}
  </ul>
{{ end }}
      </article>
    </section>
  </body>
</html>
