{{- define "item" }}
  {{- $ := index . 0 }}
  {{- $cfg := index . 1 }}
  {{- $indent := index . 2 }}
  {{- repeat " " $indent }}
  {{- if $.EnvName }}
    {{- $.EnvName | printf "- `%s`" }}
    {{- template "item.options" (list $ $cfg " (%s)") }}
    {{- $.Doc | printf " - %s" }}
  {{- else }}
    {{- $.Doc | printf "- %s" }}
  {{- end }}
  {{- $children := $.IndentChildren 0 }}
  {{- if $children }}
    {{- range $child := $children }}
{{ template "item" (list $child $cfg (sum $indent 2)) }}
    {{- end }}
  {{- end -}}
{{ end -}}

{{- $cfg := $.Config -}}
# {{ .Title }}
{{ range .Sections -}}
{{ if .Name }}
## {{ .Name }}
{{ end }}
{{- if .Doc }}
{{ .Doc }}
{{ end }}
{{ range $item := .Items }}
{{- template "item" (list $item $cfg.Item 1) }}
{{ end -}}
{{ end }}
